<font color='#4B8BBE' size='5'>Aula 2 - Formação em Python: Básico</font>
<br>
<font color='#FFD43B'>Números e operadores</font>
- Correção dos exercícios da aula passada
- Números
- Casting (incluso na aula passada, continuação)
- Operadores
- Exercícios

<font color='#FFD43B' size='5'>Correção dos exercícios da aula passada</font>
<br>

In [ ]:
# Escreva um programa para trocar dois números de lugar usando uma terceira variável.Imprima o resultado final. Ex: Se x=10 e y=20, o resultado terá que ser x=20 e y=10.

x = 10
y = 20

aux = x
x = y
y = aux

print(x, y)

20 10

In [ ]:
# Escreva um programa para trocar dois números de lugar sem usar uma terceira variável.Imprima o resultado final. Ex: Se x=10 e y=20, o resultado terá que ser x=20 e y=10.
x = 10
y = 20

#resposta possível 1
x, y = y, x
print(x, y)

#resposta possível 2
x = x + y
y = x - y
x = x - y
print(x, y)

#resposta possível 3
x = x * y
y = x / y
x = x / y
print(x, y)

20 10
10 20
20.0 10.0

In [ ]:
# Escreva um programa para ler dois números e achar a soma dos seus cubos. Imprima o resultado final.
x = int(input())
y = int(input())

cubox = x * x * x
cuboy = y * y * y

soma = cubox + cuboy

print(soma)

10
20
500

In [ ]:
# Declare uma variável com o nome "livros" do tipo lista e atribua a ela os valores "O Grande Gatsby", "O coração de nanquim" e "Conversas entre amigos" e imprima o resultado.
#Depois aplique a técnica de unpacking na lista e imprima.

livros = ["O Grande Gatsby", "O coração de nanquim", "Conversas entre amigos"]
print(livros)
x, y, z = livros
print(x)
print(y)
print(z)

ERRATA: NÃO É POSSÍVEL SALVAR UMA LISTA COM EXTEND(). O CORRETO É UTILIZAR +, COMO MOSTRAREI NO EXERCÍCIO ABAIXO.

In [ ]:
# Vamos trabalhar um pouco mais com listas.
# a. Crie uma lista com os valores que desejar. Imprima-a.
# b. Adicione mais 3 valores a essa lista. Imprima-a.
# c. Adicione outra lista (ou tupla) à lista inicialmente criada. Imprima-a.
# d. Remova os 3 primeiros itens da lista. Imprima-a.
# e. Remova o último item da lista. Imprima-a.
# f. Remova um item da lista pelo seu valor. Imprima-a
# g. Esvazie a lista. Imprima-a.

#você pode fazer qualquer lista, eu escolhi uma lista de pilotos de Fórmula 1
lista_pilotos = ['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen']
print(lista_pilotos)
lista_pilotos.append('Oscar Piastri')
lista_pilotos.append('Pierre Gasly')
lista_pilotos.append('Sebastian Vettel')
print(lista_pilotos)
lista_equipes = ['Ferrari', 'Mercedes', 'Red Bull']
lista_equipes_pilotos = lista_equipes + lista_pilotos
print(lista_equipes_pilotos)
lista_equipes_pilotos.pop(0)
lista_equipes_pilotos.pop(0)
lista_equipes_pilotos.pop(0)
print(lista_equipes_pilotos)
lista_equipes_pilotos.pop()
print(lista_equipes_pilotos)
lista_equipes_pilotos.remove('Pierre Gasly')
print(lista_equipes_pilotos)

['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen']
['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen', 'Oscar Piastri', 'Pierre Gasly', 'Sebastian Vettel']
['Ferrari', 'Mercedes', 'Red Bull', 'Carlos Sainz', 'Charles Leclerc', 'Max Verstappen', 'Oscar Piastri', 'Pierre Gasly', 'Sebastian Vettel']
['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen', 'Oscar Piastri', 'Pierre Gasly', 'Sebastian Vettel']
['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen', 'Oscar Piastri', 'Pierre Gasly']
['Carlos Sainz', 'Charles Leclerc', 'Max Verstappen', 'Oscar Piastri']

<font color='#FFD43B' size='5'>Números</font>
<br>
Como vimos anteriormente, existem três tipos de números em Python: int (números inteiros), float (números decimais) e complex (números complexos). Em nossa aula, vamos explorar apenas os dois primeiros.

In [ ]:
x = 1    # int
y = 2.8  # float
print('Tipo da variável x', type(x))
print('Tipo da variável y', type(y))

#é possível converter esses tipos de números em outros utilizando o método de casting.
#converter int para float:
#a = float(x)
#print('Valor de A', a)
#print('Tipo da variável A', type(a))

#converter float para int:
#b = int(y)
#print('Valor de B', b)
#print('Tipo da variável B', type(b))

#podemos converter os números em strings, também com casting
#c = str(2)    # y vai ser '2'
#print('Valor de C', c)
#print('Tipo da variável C', type(c))

#d = str(3.0)  # z vai ser '3.0'
#print('Valor de D', d)
#print('Tipo da variável D', type(d))

#para obter números aleatórios, importamos a biblioteca random e escolhemos o intervalo em que o número aleatório está contido com o método randrange(primeiro número, último número + 1)
#import random
#print('Número aleatório entre 1 e 100', random.randrange(1, 101))

#para obter todos os números dentro de um intervalo, utilizamos range(primeiro numero, ultimo numero + 1, iterador)
#lista_range = list(range(1, 10, 2)) #imprime os números de 1 a 9 em 2 em 2
#print(lista_range)

Tipo da variável x <class 'int'>
Tipo da variável y <class 'float'>
Valor de A 1.0
Tipo da variável A <class 'float'>
Valor de B 2
Tipo da variável B <class 'int'>
Valor de C 2
Tipo da variável C <class 'str'>
Valor de D 3.0
Tipo da variável D <class 'str'>
Número aleatório entre 1 e 100 78
[1, 3, 5, 7, 9]

<font color='#FFD43B' size='5'>Operadores</font>
<br>
Operadores são utilizados para realizar operações em variáveis e valores. No exemplo abaixo, utilizamos o operador + para adicionar dois valores:
<br>
`print(10 + 5)`
<br>
Python divide os operadores nos seguintes grupos:
- Operadores aritméticos
- Operadores de atribuição
- Operadores de comparação
- Operadores lógicos
- Operadores identitários
- Operadores de associação
- Operadores bit a bit (não abordaremos em aula, mas fica registrado que é um dos tipos de operadores)

In [ ]:
#Operadores aritméticos

#São operadores utilizados com valores numéricos para realizar operações matemáticas simples
x = 10.5
y = 2
soma = x + y
subtracao = x - y
multiplicacao = x * y
divisao = x / y
resto = x % y
exponenciacao = x ** y
divisao_de_inteiros = x // y

print(soma, subtracao, multiplicacao, divisao, resto, exponenciacao, divisao_de_inteiros)

12.5 8.5 21.0 5.25 0.5 110.25 5.0

In [ ]:
#Operadores de atribuição

#São operadores utilizados para atribuir valores a variáveis
x = 5     #mesmo que x = 5
x += 3    #mesmo que x = x + 3
x -= 3    #mesmo que x = x - 3
x *= 3 	  #mesmo que x = x * 3
x /= 3 	  #mesmo que x = x / 3
x %= 3 	  #mesmo que x = x % 3
x //= 3 	#mesmo que x = x // 3
x **= 3 	#mesmo que x = x ** 3
x &= 3 	  #mesmo que x = x & 3
x |= 3 	  #mesmo que x = x | 3
x ^= 3 	  #mesmo que x = x ^ 3

In [ ]:
#Operadores de comparação

#São operadores utilizados para comparar dois valores
x = 40
y = 70
igual = x == y
nao_igual =	x != y
maior_que =	x > y
menor_que = x < y
maior_que_ou_igual = x >= y
menor_que_ou_igual = x <= y
print("Igual:",igual)
print("Não Igual:", nao_igual)
print("Maior que:", maior_que)
print("Menor que:", menor_que)
print("Maior que ou igual:", maior_que_ou_igual)
print("Menor que ou igual:", menor_que_ou_igual)

Igual: False
Não Igual: True
Maior que: False
Menor que: True
Maior que ou igual: False
Menor que ou igual: True

In [ ]:
#Operadores lógicos

#São operadores utilizados para combinar duas premissas condicionais
x = 40
e = x < 5 and  x < 10 #retorna True se as duas premissas forem verdadeiras
ou = x < 5 or x < 4 #retorna True se uma das duas premissas forem verdadeiras
nao = not(x < 5 and x < 10) #reverte o resultado, retorna False se as premissas forem verdadeiras
print("E:", e)
print("Ou:", ou)
print("Não:", nao)

E False
Ou False
Não True

In [ ]:
#Operadores identitários

#São operadores utilizados para comparar objetos, não se são iguais, mas se são o mesmo objeto com o mesmo local de memória
eh = x is y #retorna True se as duas variáveis forem o mesmo objeto
nao_eh = x is not y #retorna True se as duas variáveis não forem o mesmo objeto

x = ["maçã", "banana"]
y = ["maçã", "banana"]
z = x

print(x is z) # retorna True pois z é o mesmo objeto de x

print(x is y) # retorna Falso pois x não é o mesmo objeto que y, mesmo que possuam o mesmo conteúdo

In [ ]:
#Operadores de associação

#São operadores utlizados para testar se uma sequência está presente em um objeto
em = x in y 		# retorna True se a sequencia espeficada está presente no objeto
nao_em = 	x not in y # retorna True se a sequencia espeficada não está presente no objeto

x = ["maçã", "banana"]
print("banana" in x) #retorna True porque "banana" está presente na lista
print("banana" not in x) #retorna False porque "banana" está presente na lista
print("cereja" not in x) #retorna True porque "cereja" não está presente na lista
print("cereja" in x) #retorna False porque "cereja" não está presente na lista

<font color='#FFD43B' size='5'>Booleanos</font>
<br>
São utilizados para checar se uma expressão é True ou False.

In [ ]:
print('10 é maior que 9', 10 > 9) #Resultado esperado: True
print('10 é igual a 9', 10 == 9) #Resultado esperado: False
print('10 é menor que 9', 10 < 9) #Resultado esperado: False

#a maioria dos valores são True se existe algum conteúdo
#todas as strings são True, menos as vazias
#todos os números são True, menos 0
#qualquer lista, tupla, set, e dicionário são True, menos quando estão vazios.

#valores True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

#valores False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

10 é maior que 9 True
10 é igual a 9 False
10 é menor que 9 False
True
True

False

<font color='#FFD43B' size='5'>Exercícios</font>

In [ ]:
# 1. Primeiramente não rode o exemplo abaixo. Comente ao lado de cada um dos print() se o retorno será True ou False. Depois, rode para conferir suas respostas.

a = False
b = False
x = not(a)
y = not(b)
print(a and b)
print(a and x)
print(y and b)
print(x and y)
print(a or b)
print(x or y)
print(a or x)
print(x or b)

False
False
False
True
False
True
True
True

In [ ]:
#2. Primeiramente não rode o exemplo abaixo. Comente ao lado de cada um dos print() como será o retorno de cada range. Depois, rode para conferir suas respostas.

#range 1
x = range(0,10,1)
my_list = list(range(0,10,1))
print(my_list)

#range 2
my_list = list(range(0,10,2))
print(my_list)

#range 3
my_list = list(range(4,11,1))
print(my_list)

#range 4
my_list = list(range(-6,15,5))
print(my_list)

#range 5
my_list = list(range(8,20,2))
print(my_list)

#range 6
my_list = list(range(-6,10,3))
print(my_list)

#range 7
my_list = list(range(0,-20,-4))
print(my_list)

#range 8
my_list = list(range(10,0,-1))
print(my_list)

In [ ]:
#3. Utilize a função range para popular uma lista com as progressões aritméticas abaixo:
#[110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
#[140, 138, 136, 134, 132, 130, 128, 126, 124, 122]
#[-50, -48, -46, -44, -42, -40, -38, -36, -34, -32]
#[-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
#[-20, -23, -26, -29]

In [ ]:
#4. Primeiramente não rode o exemplo abaixo. Comente ao lado de cada uma das operações qual será o resultado. Depois, rode para conferir suas respostas.

w = 2
x = 5
y = 7

a = w + y
b = y - w
c = y % x
d = y // w
e = y ** w
f = w * x
g = y / x
print(a,b,c,d,e,f,g)

In [ ]:
#5. Escreva um programa que converte graus Celsius em Fahrenheit.
# Dica: a fórmula que representa a relação entre Celsius e Fahrenheit é temp_celsius/5 = (temp_fahrenheit – 32)/9

In [ ]:
#6. Escreva um programa que converte graus Fahrenheit em Celsius.
# Dica: a fórmula que representa a relação entre Celsius e Fahrenheit é temp_celsius/5 = (temp_fahrenheit – 32)/9

In [ ]:
#7. Escreva um programa para calcular a área e o perímetro de um retângulo.
#Dica: para achar a área, deve-se multiplicar dois lados do retângulo. Para calcular o perímetro deve-se somar os lados e multiplicar por 2.

In [ ]:
#8. Crie um programa para converter quilômetros em milhas.
#Dica: 1 km = 0.6214 em milhas

In [ ]:
#9. Crie um programa para converter milhas em quilômetros.
#Dica: 1 milha = 1,60934 em km

In [ ]:
#10. Faça um Programa que peça as 4 notas bimestrais e mostre a média.

In [ ]:
#11. Faça um Programa que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [ ]:
#12. Faça um Programa que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês, sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5% para o sindicato, faça um programa que nos dê:
# salário bruto.
#quanto pagou ao INSS.
#quanto pagou ao sindicato.
#o salário líquido.
#calcule os descontos e o salário líquido, conforme a tabela abaixo:
# Salário Bruto : R$
# - IR (11%) : R$
# - INSS (8%) : R$
# - Sindicato ( 5%) : R$
# Salário Liquido : R$

#Obs.: Salário Bruto - Descontos = Salário Líquido.

#13 - Bônus: Responda o quiz a seguir: https://www.docsity.com/pt/quiz/programacao-em-python/introducao-ao-python-variaveis-operadores-e-expressoes/